{
    "KEPTN_BASE_URL":"https://[YOUR TENTANT].cloudautomation.live.dynatrace.com",
    "KEPTN_API_TOKEN":"[YOUR API TOKEN]",
    "LOADRUNNER_BASEURL":"http://localhost:5000",
    "LOADRUNNER_API_TOKEN":"[YOUR TOKEN]"
}