<!doctype html>
<head>
   <title>{{ title }}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
 </head>
  <h2>{{ title }}</h2>
  <p> <a href="tasks?filter=started">Tasks</a> | <a href="applog">App Log</a> | <a href="keptnlog">Keptn Log</a> | <a href="requestlog">Request Log</a> | <a href="resetlog">Reset Logs</a></p>
  <hr>
  <p>Filter tasks: <a href="tasks?filter=started">Started Only</a> | <a href="tasks?filter=done">Done Only</a> | <a href="tasks">All</a></p>
  <table border = 1>
    <tr>
       <th> project </th>
       <th> service </th>
       <th> stage </th>
       <th> type </th>
       <th> taskid </th>
       <th> runid </th>
       <th> status </th>
   </tr>
   {% for row in records: %}
      <tr>
         <td> {{ row[0] }} </td>
         <td> {{ row[1] }} </td>
         <td> {{ row[2] }} </td>
         <td> {{ row[3] }} </td>
         <td> {{ row[4] }} </td>
         <td> {{ row[5] }} </td>
         <td> {{ row[6] }} </td>
      </tr>
    {% endfor %}
 </table>